.hero-cryptogate-two {
    margin: 0 auto;
    height: 100vh;

    .v-progress-linear {
        border-radius: 60px;
        margin: 0; // remove margin as the txt will create that margin

        .progress-bar-txt {
            position: absolute;
            font-size: 16px;
            top: 7px;
            left: 13px;
            z-index: 1;
            color: #fff;
        }

        .progress-bar-price {
            position: absolute;
            font-size: 16px;
            top: 7px;
            right: 13px;
            z-index: 1;
           
        }
    }

    h1 {
        font-family: "Outfit", sans-serif !important;
        font-style: normal;
        font-weight: bold;
        text-align: left;
        letter-spacing: -1px;
        color: #222222;
    }

    h6 {
        font-family: "Outfit", sans-serif !important;
        font-style: normal;
        font-weight: 500;
        text-align: left;
        color: #545663;
    }

    .cryptogate-button {
   
        background: linear-gradient(85.89deg, #49478C 7.82%, #9756FF 117.28%);
        font-family: "Outfit", sans-serif !important;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-transform: capitalize !important;

    }
    .cryptogate-button-secondary {
        background:transparent!important;
        font-family: "Outfit", sans-serif !important;
        font-size: 16px;
        text-transform: capitalize !important;
    }

}

.theme--dark {
    .hero-cryptogate-two {
        h1 {
            color: #ffffff!important;
        }

        h6 {
            color: #aeafb0!important;
        }
    }

}