.pricing-wrap {
  
}
.subscribe-wrap {
  background: linear-gradient(88.63deg, #004FBD 7.41%, #7A27FD 99.53%);
  border-radius: 30px;
  position: relative;
  
  
  h5{
    color:#fff!important;
    align-items: center;
    text-align: center;
    letter-spacing: -0.8px
  }
}