.hero-cryptogate {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    .v-progress-linear {
        border-radius: 60px;
        margin: 0; // remove margin as the txt will create that margin

        .progress-bar-txt {
            position: absolute;
            font-size: 16px;
            top: 7px;
            left: 13px;
            z-index: 1;
            color: #fff;
        }

        .progress-bar-price {
            position: absolute;
            font-size: 16px;
            top: 7px;
            right: 13px;
            z-index: 1;
           
        }
    }

    h1 {
        font-family: "Outfit", sans-serif !important;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        letter-spacing: -1px;
        color: #222222;
    }

    h6 {
        font-family: "Outfit", sans-serif !important;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        color: #545663;
    }

    .cryptogate-button {
        background-image: linear-gradient(88.63deg, #0065F2 7.41%, #619BFF 54.43%, #9E61FF 99.53%);
        font-family: "Outfit", sans-serif !important;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-transform: capitalize !important;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

}

.theme--dark {
    .hero-cryptogate {
        h1 {
            color: #fff;
        }

        h6 {
            color: #aeafb0;
        }
    }

}